<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
    <style>
        .overdue {
            color: red;
        }
    </style>
</head>
<body>
<p th:text="${person.getFullName() + ', ' + person.getBirthYear()}">VALUE</p>

<div th:if="${!bookDTOList.isEmpty()}">
    <li th:each="bookDTO : ${bookDTOList}"
        th:class="${bookDTO.overdue} ? 'overdue' : ''"
        th:text="${bookDTO.getName() + ', ' + bookDTO.getAuthor() + ', ' + bookDTO.getYearOfPublishing()}">Value
    </li>
</div>

<div th:unless="${!bookDTOList.isEmpty()}">
    <p>The person hasn't picked up any books yet</p>
</div>


<br/>
<hr/>

<form th:method="GET" th:action="@{/people/{id}/edit(id=${person.getPersonId()})}">
    <input type="submit" value="Edit"/>
</form>

<br/>

<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getPersonId()})}">
    <input type="submit" value="Delete"/>
</form>


</body>
</html>