<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
</head>
<body>
<p th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getYearOfPublishing()}">VALUE</p>

<br/>
<hr/>

<form th:method="GET" th:action="@{/books/{id}/edit(id=${book.getBook_id()})}">
  <input type="submit" value="Edit"/>
</form>

<br/>

<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getBook_id()})}">
  <input type="submit" value="Delete"/>
</form>


</body>
</html>